.featured-section {
  width: 100%;
  padding: 70px 0;
  text-align: center;
  background: #ffffff;
}

/* title */
.featured-title {
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--primary);
}

.featured-subtitle {
  color: #6b7280;
  font-size: 15px;
  margin-top: -34px;
  margin-bottom: 70px;
}

/* card box container */
.featured-wrapper {
  max-width: 1350px;
  margin: 0 auto;
  padding: 35px 25px;
  background: #ffffff;
  border-radius: 28px;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  display:flex;
  justify-content: space-between;
  gap: 45px;
}

/* cards */
.featured-card {
  background: #ffffff;
  border-radius: 18px;
  padding: 14px;
  width: 31%;
  text-align: left;
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease;
}

.featured-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 32px var(--accent);
}

/* card image */
.featured-img {
  width: 100%;
  height: 410px;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 15px;
}

/* texts */
.featured-card h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 6px;
}

.featured-card p {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 18px;
}

/* button */
.featured-btn {
  background: var(--accent);
  color: #ffffff;
  border: none;
  padding: 10px 18px;
  width: 100%;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
  font-family: "Poppins", sans-serif;
}

.featured-btn:hover {
  border: 2px solid var(--accent);
  background: #ffffff;
  color: var(--accent);
  box-shadow: 0px 8px 30px var(--accent) ;
}