.footer{
    width: 100%;
    background: var(--primary);
    padding: 60px 0 40px;
    color: #ffffff;
}
.footer-container{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

/* logo */
.footer-logo{
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 12px;
}
.footer-location,
.footer-phone,
.footer-email{
    font-size: 14px;
    opacity: 0.9;
    margin: 2px 0;
    color: #e5e7eb;
}

/* social media icons */
.footer-socials{
    display: flex;
    gap: 22px;
    justify-content: center;
    margin: 25px 0;;
}

.footer-socials i{
    font-size: 22px;
    cursor: pointer;
    color: #e5e7eb;
    transition: 0.3s ease;
}

.footer-socials i:hover{
    color: var(--accent);
}

/* copyright */
.footer-copy{
    margin-top: 20px;
    font-size: 13px;
    color: #d1d5db;
    opacity: 0.7;
}