@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Inter:wght@300;400;500&display=swap');

:root {
  --primary: #111827;
  --accent: #E6C200;
  --dark: #111827;
  --light-gray: #f5f5f5;
  --text-light: #6b7280;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: #ffffff;
}