.navbar {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: "Inter", sans-serif;
}

.nav-container {
  max-width: 1400px;
  margin: 5px auto;
  padding: 22px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.nav-logo {
  font-size: 36px;
  font-weight: 800;
  color: var(--primary);
  letter-spacing: -0.9px;
  text-shadow: 3px 5px 9px var(--accent);
  text-decoration: none;
}

.nav-logo:hover {
  color: var(--accent);
  transition: 0.2s ease;
}

/* nav links */
.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  font-size: 16px;
  color: var(--primary);
  font-weight: 600;
  text-decoration: none;
  padding-bottom: 5px;
  position: relative;
}

/* Hover  */
.nav-links a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--accent);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s ease;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  width: 100%;
}

/* nav icons */
.nav-icons {
  display: flex;
  gap: 22px;
  font-size: 26px;
  color: var(--primary);
  cursor: pointer;
}

.nav-icons i:hover {
  color: var(--accent);
  transition: 0.2s ease;
}

/* responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}